.wrapper {
    position: relative;
    z-index: 1;
    .input {
        width: 100%;
        padding: 10px 10px;
        border: none;
        font-size: 24px;
        color: rgb(36, 36, 36);
        outline: none;
        &:focus {
            background-color: rgb(232, 240, 254);
        }
    }
}

.wrapper::before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
